<div class="inventory-sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="boats-sidebar">
                    <h3>Boat Filters</h3>

                    <div id="selected-filters-section" style="display: none;">
                        <ul class="selected-filter-wrapper" id="selected-filters">
                        </ul>
                    </div>

                    <div class="filter-condition mb-3">
                        <div class="boat-search-wrapper">
                            <input type="text" id="boatSearch" placeholder="Boat Search">
                        </div>
                    </div>

                    <!-- Condition -->
                    <div class="filter-condition mb-3">
                        <div class="filter-title">
                            <h4>Condition</h4>
                            <span class="fa fa-plus"></span>
                        </div>

                        <div class="filter-content-wrapper">
                            <label>
                                <input type="checkbox" id="condition-all" value="All" onclick="handleConditionClick(event)">
                                All
                            </label>
                            <div id="conditions-list">
                                {{#each conditions}}
                                <label>
                                    <input type="checkbox" class="condition-item" value="{{this}}" onclick="handleConditionClick(event)"> {{this}}
                                </label>
                            {{/each}}
                            </div>
                        </div>
                    </div>

                    <!-- Brand -->
                    <div class="filter-condition mb-3">
                        <div class="filter-title">
                            <h4>Brand</h4>
                            <span class="fa fa-plus"></span>
                        </div>

                        <div class="filter-content-wrapper" id="brand-list">
                            {{#each brand}}
                                <label>
                                    <input type="checkbox" class="brand-item" value="{{this}}" onclick="handleBrandClick(event)"> {{this}}
                                </label>
                            {{/each}}
                        </div>
                    </div>

                    <!-- Series -->
                    <div class="filter-condition mb-3">
                        <div class="filter-title">
                            <h4>Series</h4>
                            <span class="fa fa-plus"></span>
                        </div>

                        <div class="filter-content-wrapper" id="series-list">
                            {{#each series}}
                                <label>
                                    <input type="checkbox" class="series-item" value="{{this}}" onclick="handleSeriesClick(event)"> {{this}}
                                </label>
                            {{/each}}
                        </div>
                    </div>

                    <!-- Models -->
                    <div class="filter-condition mb-3">
                        <div class="filter-title">
                            <h4>Models</h4>
                            <span class="fa fa-plus"></span>
                        </div>

                        <div class="filter-content-wrapper" id="model-list">
                            {{#each model}}
                                <label>
                                    <input type="checkbox" class="model-item" value="{{this}}" onclick="handleModelClick(event)"> {{this}}
                                </label>
                            {{/each}}
                        </div>
                    </div>

                    <!-- Length -->
                    <div class="filter-condition mb-3">
                        <div class="filter-title">
                            <h4>Length</h4>
                            <span class="fa fa-plus"></span>
                        </div>

                        <div class="filter-content-wrapper">
                            <div class="filter-range">
                                <div class="range-slide-prices">
                                    <span id="minVal" data-minlength="{{minLength}}">{{minLength}}</span>
                                    <span id="maxVal" data-maxlength="{{maxLength}}">{{maxLength}}</span>
                                </div>
                                <div id="rangeSlider"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Year -->
                    <div class="filter-condition mb-3">
                        <div class="filter-title">
                            <h4>Year</h4>
                            <span class="fa fa-plus"></span>
                        </div>

                        <div class="filter-content-wrapper">
                            <div class="filter-range">
                                <div class="range-slide-prices">
                                    <span id="minYearVal" data-minyear="{{minYear}}">{{minYear}}</span>
                                    <span id="maxYearVal" data-maxyear="{{maxYear}}">{{maxYear}}</span>
                                </div>
                                <div id="yearRangeSlider"></div>
                            </div>
                        </div>
                    </div>

                    <div class="bottom-btns">
                        <button class="mb-2" id="reset-filters" onclick="resetFilters()">Reset Filters</button>
                        <p id="boat-count">{{boatsCount}} boats found</p>
                    </div>

                </div>
            </div>

            <!-- Boat Listings -->
            <div class="col-xl-9 col-lg-8">
                <div class="sort-by-filter-wrapper">
                    <select id="sortBy">
                        <option value="">Sort By</option>
                        <option value="price_low_high">Price: Low to High</option>
                        <option value="price_high_low">Price: High to Low</option>
                        <option value="length_low_high">Length: Low to High</option>
                        <option value="length_high_low">Length: High to Low</option>
                    </select>
                </div>

                <div class="row" id="boat-listings">
                    
                    {{#each boats}}
                        {{> boat-card}}
                    {{/each}}

                </div>

                <div class="load-more-wrapper text-center my-5">
                    <button id="load-more" current-page="{{currentPage}}" total-pages="{{totalPages}}" class="btn btn-primary" onclick="loadMoreBoats()">Load More</button>
                </div>

            </div>
        </div>
    </div>
</div>